<div class="first">
  <%= render 'nave'%>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @booking.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @booking.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @booking.gender %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @booking.date_of_birth %>
</p>

<p>
  <strong>Country:</strong>
  <%= @booking.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @booking.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<p>
  <strong>Booking type:</strong>
  <%= @booking.booking_type %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking), class:"btn btn-info" %> 
<%= link_to 'Back', bookings_path , class:"btn btn-info" %>
</div>
