<div class="first">
<%= render 'nave'%>

<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table class="table  table-striped  table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.date %></td>
        <td><%= company.price %></td>
        <td><%= link_to 'Show', company, class:"btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_company_path(company), class:"btn btn-default" %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path, class:"btn btn-info" %>
</div>
