<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @airport.city %>
</p>

<p>
  <strong>Code:</strong>
  <%= @airport.code %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport), class:"btn btn-info" %> 
<%= link_to 'Back', airports_path , class:"btn btn-info"%>
