<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="dec" class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">
      <a  class="navbar-brand" href="#"><div class="name1" >ifly </div></a>
      <li><a href="#"><span class="glyphicon glyphicon-home"></span><li class="dec" class="active"><a href="<%= root_path%>"><div class="name" >Home</div></a></li></a></li>

      <li><a href="#"><span class="glyphicon glyphicon-plane"><li><a class="dec" href="<%= flights_path%>"><div class="name" >Flight </div></a></li></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-list-alt"><li><a class="dec" href="<%= bookings_path%>"><div class="name" >Booking</div></a></li></a></li>
      <li><a href="#"><span class="glyphicon glyphicon-map-marker"><li><a class="dec" href="<%= airportlocs_path%>"><div class="name" >Airport Locartion</div></a></li></a></li>
       <li><a href="#"><span class="glyphicon glyphicon-list"></span><li><a class="dec" href="<%= posts_path%>"><div class="name" >Blog</div></a></li></a></li>
       <li><a href="#"><span class="glyphicon glyphicon-user"></span><li><a class="dec" href="<%= admin_root_path%>"><div class="name" >Admin</div></a></li></a></li>
      
      <li><a class="dec" href="#"></a></li>
      <li><a class="dec" href="#"></a></li>
      <li><a class="dec" href="#"></a></li>
      <li><a class="dec" href="#"></a></li>
       <li><a class="dec" href="#"></a></li>
      <li><a class="dec" href="#"></a></li>
      <li><a class="dec" href="#"></a></li>
      <li><a class="dec" href="#"></a></li>
     
      
      <li><a  href="#"></a></li>
    
                             
    </ul>
    
    <br>

 
  </div>
    <br>
 <ul class="nav navbar-nav navbar-right">
      
    </ul>
</nav>
</div>


</body>
</html>